@import 'mixins/buttons';
.btn {
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: $border-radius-base;
    transition: .3s ease box-shadow;
    padding: 0 1em;
    padding: 0.75em 2em;
    font-size: 1em;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
    }
    &.-primary {
        @include button-standard($white, $primary);
        &.-outline {
            @include button-outline($white, $primary, $primary);
        }
        &.-link {
            @include button-link($primary);
        }
    }
    &.-success {
        @include button-standard($white, $success);
        &.-outline {
            @include button-outline($white, $success, $success);
        }
        &.-link {
            @include button-link($success);
        }
    }
    &.-secondary {
        @include button-standard($white, $secondary);
        &.-outline {
            @include button-outline($white, $secondary, $secondary);
        }
        &.-link {
            @include button-link($secondary);
        }
    }
    &.-info {
        @include button-standard(#2c2c2c, $info);
        &.-outline {
            @include button-outline(#2c2c2c, #0074e8, $info);
        }
        &.-link {
            @include button-link(#0074e8);
        }
    }
    &.-warning {
        @include button-standard(#2c2c2c, $warning);
        &.-outline {
            @include button-outline(#2c2c2c, #a26b00, $warning);
        }
        &.-link {
            @include button-link(#a26b00);
        }
    }
    &.-danger {
        @include button-standard(#f0f0f0, $danger);
        &.-outline {
            @include button-outline(#f0f0f0, $danger, $danger);
        }
        &.-link {
            @include button-link($danger);
        }
    }
    &.-light {
        @include button-standard($dark, $white);
        &.-outline {
            @include button-outline($dark, $white, $white);
        }
        &.-link {
            @include button-link($white);
        }
    }
    &.-dark {
        @include button-standard($white, $dark);
        &.-outline {
            @include button-outline($white, $dark, $dark);
        }
        &.-link {
            @include button-link($dark);
        }
    }
    &.-round {
        border-radius: 2rem;
    }
    &.-square {
        border-radius: 0;
    }
    &.-small {
        height: 1.5rem;
        padding: 0 0.5rem;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}