@import "normalize";
@import "variables";

@import "mixins/button";
@import "mixins/breakpoints";

@import "button";
@import "card";
@import "checkbox";
@import "grid";
@import "hero";
@import "input";
@import "radio";
@import "table";
@import "typography";
@import "utilities";

code {
    background-color: mix($background, $gray-light, 95%);
    color: $primary;
    font-size: .875em;
    font-weight: 400;
    padding: .25em .5em .25em;
}