.container-fluid,
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  @include until(l) {
    padding: 0 5%;
  }
}

section {
  padding: 3rem 1.5rem;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -$row-gap;
  margin-top: -$row-gap;
  width: calc(100% + #{$row-gap * 2});

  // &:last-child {
  //   margin-bottom: -$row-gap;
  // }

  &:not(:last-child) {
    margin-bottom: $row-gap;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.start {
  justify-content: flex-start;
  text-align: start;
}

.center {
  justify-content: center;
  text-align: center;
}

.end {
  justify-content: flex-end;
  text-align: end;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.col {
  padding: 0 $row-gap;
  flex: 1 1 auto;
  max-width: 100%;
  display: block;

  &.s1 {
    max-width: 8.33333333%;
    flex: 0 0 8.33333333%;
  }

  &.s2 {
    max-width: 16.66666667%;
    flex: 0 0 16.66666667%;
  }

  &.s3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  &.s4 {
    max-width: 33.33333333%;
    flex: 0 0 33.33333333%;
  }

  &.s5 {
    max-width: 41.66666667%;
    flex: 0 0 41.66666667%;
  }

  &.s6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  &.s7 {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%;
  }

  &.s8 {
    max-width: 66.66666667%;
    flex: 0 0 66.66666667%;
  }

  &.s9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  &.s10 {
    max-width: 83.33333333%;
    flex: 0 0 83.33333333%;
  }

  &.s11 {
    max-width: 91.66666667%;
    flex: 0 0 91.66666667%;
  }

  &.s12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  &.offset-s {
    &0 {
      margin-left: 0;
    }

    &1 {
      margin-left: 8.33333333%;
    }

    &2 {
      margin-left: 16.66666667%;
    }

    &3 {
      margin-left: 25%;
    }

    &4 {
      margin-left: 33.33333333%;
    }

    &5 {
      margin-left: 41.66666667%;
    }

    &6 {
      margin-left: 50%;
    }

    &7 {
      margin-left: 58.33333333%;
    }

    &8 {
      margin-left: 66.66666667%;
    }

    &9 {
      margin-left: 75%;
    }

    &10 {
      margin-left: 83.33333333%;
    }

    &11 {
      margin-left: 91.66666667%;
    }
  }

  // medium columns
  @include at-least(m) {
    &.m1 {
      max-width: 8.33333333%;
      flex: 0 0 8.33333333%;
    }

    &.m2 {
      max-width: 16.66666667%;
      flex: 0 0 16.66666667%;
    }

    &.m3 {
      max-width: 25%;
      flex: 0 0 25%;
    }

    &.m4 {
      max-width: 33.33333333%;
      flex: 0 0 33.33333333%;
    }

    &.m5 {
      max-width: 41.66666667%;
      flex: 0 0 41.66666667%;
    }

    &.m6 {
      max-width: 50%;
      flex: 0 0 50%;
    }

    &.m7 {
      max-width: 58.33333333%;
      flex-basis: 58.33333333%;
    }

    &.m8 {
      max-width: 66.66666667%;
      flex: 0 0 66.66666667%;
    }

    &.m9 {
      max-width: 75%;
      flex: 0 0 75%;
    }

    &.m10 {
      max-width: 83.33333333%;
      flex: 0 0 83.33333333%;
    }

    &.m11 {
      max-width: 91.66666667%;
      flex: 0 0 91.66666667%;
    }

    &.m12 {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &.offset-m {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }

  // l columns
  @include at-least(l) {
    &.l1 {
      max-width: 8.33333333%;
      flex: 0 0 8.33333333%;
    }
  
    &.l2 {
      max-width: 16.66666667%;
      flex: 0 0 16.66666667%;
    }
  
    &.l3 {
      max-width: 25%;
      flex: 0 0 25%;
    }
  
    &.l4 {
      max-width: 33.33333333%;
      flex: 0 0 33.33333333%;
    }
  
    &.l5 {
      max-width: 41.66666667%;
      flex: 0 0 41.66666667%;
    }
  
    &.l6 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  
    &.l7 {
      max-width: 58.33333333%;
      flex-basis: 58.33333333%;
    }
  
    &.l8 {
      max-width: 66.66666667%;
      flex: 0 0 66.66666667%;
    }
  
    &.l9 {
      max-width: 75%;
      flex: 0 0 75%;
    }
  
    &.l10 {
      max-width: 83.33333333%;
      flex: 0 0 83.33333333%;
    }
  
    &.l11 {
      max-width: 91.66666667%;
      flex: 0 0 91.66666667%;
    }
  
    &.l12 {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &.offset-l {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }

  // xl columns
  @include at-least(xl) {

    &.xl1 {
      max-width: 8.33333333%;
      flex: 0 0 8.33333333%;
    }
  
    &.xl2 {
      max-width: 16.66666667%;
      flex: 0 0 16.66666667%;
    }
  
    &.xl3 {
      max-width: 25%;
      flex: 0 0 25%;
    }
  
    &.xl4 {
      max-width: 33.33333333%;
      flex: 0 0 33.33333333%;
    }
  
    &.xl5 {
      max-width: 41.66666667%;
      flex: 0 0 41.66666667%;
    }
  
    &.xl6 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  
    &.xl7 {
      max-width: 58.33333333%;
      flex-basis: 58.33333333%;
    }
  
    &.xl8 {
      max-width: 66.66666667%;
      flex: 0 0 66.66666667%;
    }
  
    &.xl9 {
      max-width: 75%;
      flex: 0 0 75%;
    }
  
    &.xl10 {
      max-width: 83.33333333%;
      flex: 0 0 83.33333333%;
    }
  
    &.xl11 {
      max-width: 91.66666667%;
      flex: 0 0 91.66666667%;
    }
  
    &.xl12 {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &.offset-sl {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }
}

@include until(s) {
  .container {
    max-width: $bp-s;
  }

  .start-s {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-s {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-s {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-s {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-s {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-s {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-s {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-s {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-s {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-s {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@include at-least(m) {
  .container {
    // width: $bp-m;
    max-width: $bp-m;
  }

  .start-m {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-m {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-m {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-m {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-m {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-m {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-m {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-m {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-m {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-m {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@include at-least(l) {
  .container {
    max-width: $bp-l;
    // width: $bp-l;
  }

  .start-l {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-l {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-l {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-l {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-l {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-l {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-l {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-l {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-l {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-l {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@include at-least(xl) {
  .container {
    max-width: $bp-xl;
    // width: $bp-xl;
  }
}
