.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-body {
        flex-grow: 1;
        flex-shrink: 0;
        padding: 3rem 1.5rem;
        flex-wrap: wrap;
    }
    @include at-least(sm) {
        &.md .hero-body {
            padding-bottom: 8rem;
            padding-top: 8rem;
        }
        &.lg .hero-body {
            padding-bottom: 16rem;
            padding-top: 16rem;
        }
        &.xl .hero-body{
            padding-bottom: 24rem;
            padding-top: 24rem;
        }
    }
    &.fullscreen {
        min-height: 100vh;
        & .hero-body {
            align-items: center;
            display: flex;
        }
    }
}