input, textarea {
    appearance: none;
    padding: 1em;
    width: 100%;
    height: 3em;
    font-size: 1em;
    background: $white;
    border: 0.0625rem solid mix($background, $dark, 85%);
    border-radius: $border-radius-base;
    box-shadow: none;
    transition: all .2s ease-in-out;
    &:focus {
        border-color: $primary;
    }
    &.-primary {
        border-color: $primary;
        &:focus {
            box-shadow: 0 0 0 0.0625rem $primary;
        }
    }
    &.-success {
        border-color: $success;
        &:focus {
            box-shadow: 0 0 0 0.0625rem $success;
        }
    }
    &.-warning {
        border-color: $warning;
        &:focus {
            box-shadow: 0 0 0 0.0625rem $warning;
        }
    }
    &.-danger {
        border-color: $danger;
        &:focus {
            box-shadow: 0 0 0 0.0625rem $danger;
        }
    }
}
textarea {
    height: auto;
}
label {
    margin-top: 1em;
    display: block;
}

