:root {
    font-family: $font-family-sans;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 62.5%;
}
// @font-face {
//     font-family: 'Butler';
//     src: url('../font/Butler-Black.woff2') format('woff2'),
//         url('../font/Butler-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Ikaros';
//     src: url('../font/Ikaros-Regular.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Metropolis';
//     src: url('../font/Metropolis-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: bold;
// }
.text {
    &.xs {
        font-size: 0.75rem;
    }

    &.sm {
        font-size: 1rem;
    }

    &.md {
        font-size: 1.5rem;
    }

    &.lg {
        font-size: 2rem;
    }

    &.xl {
        font-size: 2.5rem;
    }

    &.bold {
        font-weight: bold;
    }

    &.fw100 {
        font-weight: 100;
    }

    &.fw200 {
        font-weight: 200;
    }

    &.fw300 {
        font-weight: 300;
    }

    &.fw400 {
        font-weight: 400;
    }

    &.fw500 {
        font-weight: 500;
    }

    &.fw600 {
        font-weight: 600;
    }

    &.fw700 {
        font-weight: 700;
    }

    &.fw800 {
        font-weight: 800;
    }

    &.fw900 {
        font-weight: 900;
    }

    // colors
    &.primary {
        color: $primary;
    }

    &.dark {
        color: $dark;
    }

    &.white {
        color: $white;
    }
}
a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}
a.magical {
    font-weight: 600;
    background-image: linear-gradient(120deg, rgba($primary, 0.5) 0%, rgba($primary-lighten-2, 0.5) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 76%;
    transition: background-size 0.2s ease-in-out;

    &:hover {
        background-size: 100% 88%;
    }
}

p {
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 3.2rem
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}