//fonts
$font-family-sans: "Proxima Nova", BlinkMacSystemFont, -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family-serif: $font-family-sans;
//colors
$black: #000;
$white: #fff;
$gray: #757575;
$gray-light: mix($gray, $white, 50%);
$gray-dark: mix($gray, $black, 50%);

// $primary: #007fff;
// $primary: #675ae8;
// $primary: #0070ba;
// $primary-darken-1: #0065a7;
// $primary-darken-2: #005a95;
// $primary-darken-3: #004e82;
// $primary-darken-4: #004370;
// $primary-darken-5: #00385d;
// $primary-darken-6: #002d4a;
// $primary-darken-7: #002238;
// $primary-lighten-1: #0080ce;
// $primary-lighten-2: #0093e2;

$primary: #675AE8;
$primary-darken-1: #5d51d1;
$primary-darken-2: #5248ba;
$primary-darken-3: #483fa2;
$primary-darken-4: #3e368b;
$primary-darken-5: #342d74;
$primary-darken-6: #29245d;
$primary-darken-7: #1f1b46;
$primary-lighten-1: #675ae8;
$primary-lighten-2: #766bea;

// feedback colors
$success: #17cf73;
$info: #4ca5ff;
$warning: #f5bb46;
$danger: #e22942;
$dark: mix($white, $black, 10%);

// colors
$yellow: #FFF78B;
$blue: #8BCDFF;
$purple: #BD8BFF;
$pink: #F78BFF;
$orange: #FF8B93;

$background: mix(mix($primary, $white, 5%), $black, 98%);
$background-light: mix(rgba($primary, 0.05), rgba($dark, 0.05), 50%);
// $background-dark: mix($primary, $white, 2%);
$background-dark: mix(mix($white, $black, 4%), $primary, 88%);

// border radii
$border-radius-small: 0.6rem;
$border-radius-base: 1.2rem;
$border-radius-large: 2rem;


// breakpoints
$bp-xl: 1200px; // 1200px
$bp-l: 992px; // 992px
$bp-m: 768px; // 768px
$bp-s: 576px; // 576px


// layout variables
$row-gap: 0.75rem;

$box-shadow: 0 0.5rem 0.5rem 0 rgba(mix($primary, #ccc, 15%), 0.25), 0 0 0 0.1rem mix($primary, white, 15%);