* {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-transition: width 1s ease-in-out, left 1s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1s ease-in-out;
    transition: width 1s ease-in-out, left 1s ease-in-out;
    -webkit-transition: height 0.25s ease-in-out, left 1s ease-in-out;
    -o-transition: height 0.25s ease-in-out, left 1s ease-in-out;
    transition: height 0.25s ease-in-out, left 1s ease-in-out;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:focus, :hover {
    outline: none;
}

h1 {
    margin: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top: 1px solid rgb(0, 195, 255);
}

body {
    font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    color: rgb(221, 221, 221);
}

.top {
    background: #1c2430;
    background-image: url(https://res.cloudinary.com/thatcube/image/upload/q_100/v1520311437/bcm-portfolio-bg.jpg);
    /*background-image: url(https://res.cloudinary.com/thatcube/image/upload/v1515997146/keyboard_darker_akbzc7.jpg);
    background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/90/69/2bLwnf.jpg);
    */
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url("https://res.cloudinary.com/thatcube/image/upload/v1513916683/space_better_j1twfe.jpg");*/
    z-index: -1;
    height: 100vh;
    width: 100%;
    display: table;
}
.top.no-bg {
    background-image: none;
}
/*
.top::after {
    content: "";
    display: block;
    padding-bottom: 3%;
    background-image: url(https://www.sketchapp.com/images/home-2/round-edge.svg);
    width: 110%;
    margin-left: -5%;
    margin-bottom: -.625rem !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

span#span {
    color: rgb(0, 195, 255) !important;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    font-size: 40pt;
    text-transform: lowercase;
    width: 100%;
    text-align: center;
}


/* slanted edge styles */


/*.top {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  }
  .bio-background {
      -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 92%);
              clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 92%);
  }
  .project {
      -webkit-clip-path: polygon(0 100%, 100% 97%, 100% 2%, 0 0);
              clip-path: polygon(0 100%, 100% 97%, 100% 2%, 0 0);
  }
  .contact {
      -webkit-clip-path: polygon(0 4%, 100% 0%, 100% 97%, 0% 100%);
              clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0% 97%);
  }
  */


/* topnav */

.topnav {
    position: absolute;
    right: 7vw;
    top: 4.5vw;
    z-index: 1;
}
/*
.topnav a {
    font-weight: 100;
    padding: 20px;
    font-size: 14px;
    font-size: calc(18px + 0.25vw);
    color: rgb(0, 195, 255);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    cursor: pointer;
    text-transform: lowercase;
}*/
.topnav-btn {
    display: inline-block;
    line-height: 35px;
    margin: 8px;
    padding: 3px 20px;
    font-size: 16px;
    position: relative;
    opacity: 0.999;
    background-color: transparent;
    border: 1px solid #6868685d;
    color: #b8b8b8;
    cursor: pointer;
    text-decoration: none;
    transition: .2s color ease;
}
.topnav-btn:hover, .topnav-btn:focus {
    color: rgb(0, 195, 255);
    text-decoration: none;

}
.topnav-btn:before, .topnav-btn:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
    border-color: rgb(0, 195, 255);
  }
.topnav-btn:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: 0;
    left: 0;
    -webkit-transition-delay: 0.05s;
         -o-transition-delay: 0.05s;
            transition-delay: 0.05s;
}
.topnav-btn:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: 0;
}
.topnav-btn:hover:before, .topnav-btn:focus:before {
    width: 100%
}
.topnav-btn:hover:after, .topnav-btn:focus:after {
    height: 100%;
}

.logo-img {
    position: absolute;
    top: 4.3vw;
    left: 4.7vw;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    height: 55px;
}

.learn {
    bottom: 5px;
    position: absolute;
    text-align: center;
    line-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.learn b {
    color: rgb(84, 166, 194);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.learn a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(175, 175, 175);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.learn a:hover {
    color: rgb(255, 255, 255);
}
/*
.hover-underline a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hover-underline a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 13px;
    background: rgb(0, 195, 255);
    /*background: linear-gradient(90deg,#706cf5, rgb(0, 195, 255));*/
   /* height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hover-underline a:hover:before,
.hover-underline a:focus:before,
.hover-underline a:active:before {
    left: 20px;
    right: 18px;
}
*/

/* ABOUT ME SECTION */

.bio {
    padding: 90px 15% 90px 15%;
    font-size: 4rem;
    text-align: left;
    color: #bebebe;
    max-width: 2200px;
    margin: auto;
}

.bio img {
    border-radius: 50%;
    max-width: 90%;
    /* border: 2px solid #1d2129; */
}

.bio p {
    font-size: 1.75rem;
    line-height: 2.8rem;
    font-weight: 400;
    padding: 25px;
    width: 67%;
    background: #1b212d;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.21);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.21);
}

.bio a {
    text-decoration: none;
    color: rgb(249, 240, 255);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.bio a:hover {
    color: rgb(0, 195, 255);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.bio-background {
    background: #111316;
}

.bio span {
    color: rgb(0, 195, 255);
}

::-moz-selection {
    background: rgba(0, 195, 255, 0.301); /* WebKit/Blink Browsers */
}

::selection {
    background: rgba(0, 195, 255, 0.301); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: rgba(0, 195, 255, 0.301); /* Gecko Browsers */
}

/*PROJECTS SECTION */

.projects {
    font-size: 4rem;
    text-align: left;
    color: #a0a0a0;
    padding: 75px 0 45px 0;
}

.project {
    background: #232c36;
}

.projectTitle {
    position: absolute;
    left: 0; right: 0;
    top: 45%;
    font-family: 'Oxygen', -apple-system, sans-serif;
    letter-spacing: 0.04em;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    background: -webkit-gradient(linear, right top, left top, from(#00c3ff94), to(#716cf598));
    background: -webkit-linear-gradient(right, #00c3ff94 0%, #716cf598 100%);
    background: -o-linear-gradient(right, #00c3ff94 0%, #716cf598 100%);
    background: linear-gradient(to left, #00c3ff94 0%, #716cf598 100%);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}


.projects span {
    color: rgb(0, 195, 255);
}

.github button {
    left: 13px;
}

.livedemo button {
    right: 13px;
}

.card {
    width: 48%;
    margin-bottom: 35px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    z-index: 0;
}

.card-text {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 50px;
}

.card-bottom-header {
    -webkit-font-smoothing: antialiased;
}

.card-img {
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.card-img img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
    display: block;
}

.card-bottom {
    padding: 7px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgba(5, 5, 5, 0.945);
    font-size: 18px;
    font-weight: 300;
    height: 100%;
    line-height: 3.4rem;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0px;
    display: table;
}

.card-bottom:hover, .card-bottom:focus, .card-bottom:active,
.card:focus, .card:active, .card:hover {
    opacity: 1;
}

.card-bottom button {
    background: rgba(5, 5, 5, 0.945);
    font-size: 17px;
    color: #d4d3e4;
    cursor: pointer;
    -webkit-transition: all .20s ease-in-out;
    -o-transition: all .20s ease-in-out;
    transition: all .20s ease-in-out;
    padding: 5px 15px 5px 15px;
    position: absolute;
    bottom: 13px;
    font-weight: 400;
    outline: none;
    border: 2px solid;
    border-radius: 0px;
    opacity: 1;
    -webkit-border-image: -webkit-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    border-image: -webkit-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    -o-border-image: -o-linear-gradient(right,rgb(0, 195, 255),#706cf5);
    border-image: -o-linear-gradient(right,rgb(0, 195, 255),#706cf5);
    border-image: -webkit-gradient(linear,left top,right top,from(rgb(0, 195, 255)),to(#706cf5));
    border-image: -webkit-gradient(linear,left top, right top,from(rgb(0, 195, 255)),to(#706cf5));
    border-image: linear-gradient(90deg,rgb(0, 195, 255),#706cf5);
    border-image-slice: 3;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 100;
}

.card-bottom button:before {
    color: rgba(5, 5, 5, 0.945);
    display: block;
    background-image: -webkit-gradient(linear,left top, right top,from(rgb(0, 195, 255)),to(#706cf5));
    background-image: -webkit-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    background-image: -o-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    background-image: linear-gradient(90deg,rgb(0, 195, 255),#706cf5);
    border-radius: 0px;
    outline: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0;
    top: 0; left: 0;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.card-bottom button:hover:before{
    opacity: 1;
}
.card-bottom button:hover {
    color:rgba(5, 5, 5, 0.945);
}

.card-bottom-header {
    font-size: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: block;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: -15px;
}

.card-bottom a {
    text-decoration: none;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.card-bottom b {
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    color: rgb(152, 231, 255);
    font-weight: inherit;
}

.card-bottom b:hover {
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    color: rgb(0, 195, 255);
}


/* CONTACT SECTION */

.contact {
    padding: 80px 0 40px 0;
    font-size: 4rem;
    text-align: left;
    color: #a0a0a0;
    background: #1c2025;
    border-bottom: 1px solid rgb(0, 195, 255);
    border-top: 1px solid #323c4c;
    position: relative;
}
.contact::after, .contact::before {
    height:100%;
    content:'';
    position: absolute;
    top: 0;
}
.contact::after {
    right: 0;
    background-color: #1d2430;
    z-index: 1;
    width: 50%;
    -webkit-clip-path: polygon(100% 0, 67% 0, 100% 59%);
            clip-path: polygon(100% 0, 67% 0, 100% 59%);
}
.contact::before {
    left: 0;
    background-color: #1c2430;
    width:50%;
    -webkit-clip-path: polygon(0 0, 39% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 39% 0, 100% 100%, 0% 100%);
}

.contact span {
    color: rgb(0, 195, 255);
    margin-bottom: 20px;
}

.contactsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 10%;
    margin-top: 20px;
    padding: 20px 15% 0 15%;
    max-width: 2200px;
    margin: auto;
    z-index: 9999;
}

.contact .email li {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}
.contact .email li a {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 10px 0;
    padding: 14px 10px;
    text-align: left;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 32% 0, 46% 100%, 0% 100%);
            clip-path: polygon(0 0, 32% 0, 46% 100%, 0% 100%);
}

.contact .email > li:nth-child(1) > a:nth-child(1) {
    margin-left: 1vw;
}
.contact .email > li:nth-child(2) > a:nth-child(1) {
    margin-left: 4.5vw;
}
.contact .email > li:nth-child(3) > a:nth-child(1) {
    margin-left: 8.5vw;
}
.contact .email > li:nth-child(4) > a:nth-child(1) {
    margin-left: 12.5vw;
}
.contact .email > li:nth-child(5) > a:nth-child(1) {
    margin-left: 16vw;
    -webkit-clip-path: polygon(0 0, 42% 0, 54% 100%, 0% 100%);
            clip-path: polygon(0 0, 42% 0, 54% 100%, 0% 100%);
}
.contact .email > li:nth-child(5) > a:nth-child(1).nopointer {
    margin-left: 14.5vw;
}

.contact .email li:first-of-type {
    border-top: none;
}

/* .contact .email a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.445);
}
.email a.nopointer:hover {
    background: rgba(0, 0, 0, 0.185);
} */
.email {
    -webkit-font-smoothing: antialiased;
    text-align: left;
    margin-left: 0;
    margin-top: 40px;
    margin-right: 40px;
    /*border: 1px solid rgba(128, 128, 128, 0.438);*/
    padding-left: 0;
}
.email li {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
.email br {
    display: block;
    margin: 0px auto;
}
.email .fa {
    left: 0;
    position: absolute;
}

.contactinfo {
    width: 50%;
    padding: 5% 0 5% 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0 !important;
}

.contactinfo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/*make it center plz*/

.contact-absolute {
    top:0; bottom: 0;
    margin: auto;
}
.table {
    display: table;

}
.vertical-align {
    display: table-cell;
    vertical-align: middle;
    top: 0; bottom: 0;
    margin: auto;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
}

.icons s {
    text-decoration: none;
    font-size: 12pt;
    font-weight: 100;
}

.icons a:hover,
.icons a:focus,
.icons a:active,
.email a:hover,
.icons s:hover {
    color: rgb(0, 195, 255);
}

.icons a {
    color: rgb(255, 255, 255);
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32%;
    margin-right: 10px;
    border-radius: 10px;
    margin-left: -20px;
    bottom: 0px;
}
a.phone {
    cursor: pointer;
}
a.phone.nopointer:hover {
    color: white;
}
.nopointer {
    cursor: auto !important;
    -webkit-clip-path: none;
            clip-path: none;
}

.hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


/*
  .tooltip b {
      font-weight: 400;
      letter-spacing: 1px;
      position: absolute;
      color: rgb(219, 219, 219) !important;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
      transition: opacity 0.2s, -webkit-transform 0.4s;
      -o-transition: transform 0.4s, opacity 0.2s;
      transition: transform 0.4s, opacity 0.2s;
      transition: transform 0.4s, opacity 0.2s, -webkit-transform 0.4s;
      font-size: 21%;
      background: -webkit-gradient(linear,  left top, right bottom,  from(#381192),color-stop(50%, #480072),to(#9b00e2));
      background: -webkit-linear-gradient(top left,  #381192 0%,#480072 50%,#9b00e2 100%);
      background: -o-linear-gradient(top left,  #381192 0%,#480072 50%,#9b00e2 100%);
      background: linear-gradient(to bottom right,  #381192 0%,#480072 50%,#9b00e2 100%);
      padding: 10px;
      border-radius: 5px;
      margin-right: -10px;
      -webkit-transform-origin: -10px;
          -ms-transform-origin: -10px;
              transform-origin: -10px;
  }
  
  .tooltip#resume b {
      -webkit-transform: translate3d(0,20px,0);
      transform: translate3d(-10px,22px,0);
  }
  
  .tooltip:hover b {
      opacity: 1;
  }
  
  */


/* CONTACT FORM STYLE */

.group {
    position: relative;
    margin-bottom: -40px;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 10px;
}

.bar:before,
.bar:after {
    content: '';
    height: 3px;
    left: calc(0% + 1px);
    
    width: 0;
    bottom: 10px;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(#00c3ff), to(#706cf5));
    background: -webkit-linear-gradient(left, #00c3ff 0%, #706cf5 100%);
    background: -o-linear-gradient(left, #00c3ff 0%, #706cf5 100%);
    background: linear-gradient(to right, #00c3ff 0%, #706cf5 100%);
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
}

.bar:before {
    left: calc(0% + 1px);
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: calc(100% - 2px);
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.5rem;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    background: #15181b;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px;
    border: 1px solid #252b31;
}
/*
input[type=text],
input[type=email],
textarea {
    margin-top: -2px;
}*/

textarea#message {
    height: 100px;
}
/*
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    background-color: #25272b;
} */

.send-btn {
    background-color: #1c2025;
    background-size: 100%;
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 12px 17px 12px 17px;
    border: 2px solid;
    border-radius: 0px;
    cursor: pointer;
    width: 200px;
    font-size: 1.9rem;
    outline: none;
    z-index: 100;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-image: -webkit-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    border-image: -webkit-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    -o-border-image: -o-linear-gradient(right,rgb(0, 195, 255),#706cf5);
    border-image: -o-linear-gradient(right,rgb(0, 195, 255),#706cf5);
    border-image: -webkit-gradient(linear,left top,right top,from(rgb(0, 195, 255)),to(#706cf5));
    border-image: -webkit-gradient(linear,left top, right top,from(rgb(0, 195, 255)),to(#706cf5));
    border-image: linear-gradient(90deg,rgb(0, 195, 255),#706cf5);
    border-image-slice: 3;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-transform: lowercase;
}
.send-btn:before {
    display: block;
    background-image: -webkit-gradient(linear,left top, right top,from(rgb(0, 195, 255)),to(#706cf5));
    background-image: -webkit-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    background-image: -o-linear-gradient(left,rgb(0, 195, 255),#706cf5);
    background-image: linear-gradient(90deg,rgb(0, 195, 255),#706cf5);
    border-radius: 0px;
    outline: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0;
    top: 0; left: 0;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.send-btn:hover:before,
.send-btn:focus:before,
.send-btn:active:before {
    opacity: 1;
}
.send-btn:hover, .send-btn:focus, .send-btn:active {
    color: rgb(0, 0, 0);
}

.button-center {
    text-align: right;
    margin-top: 10px;
}

label {
    font-size: 2rem;
    color: rgb(248, 248, 248);
    font-weight: 100;
    padding: 12px 0 0 3px;
    margin-bottom: -3px;
    transform: translateY(5px);
    display: inline-block;
}

.form {
    width: 50%;
    color: #d3d3d3;
    z-index: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(163, 163, 163);
    -webkit-font-smoothing: antialiased;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(163, 163, 163);
    -webkit-font-smoothing: antialiased;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(163, 163, 163);
    -webkit-font-smoothing: antialiased;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(163, 163, 163);
    -webkit-font-smoothing: antialiased;
}

input,
textarea,
[contenteditable] {
    caret-color: rgb(255, 255, 255);
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: .5s ease all;
}

.captcha {
    transition: .5s ease all;
    padding: 10px 0 4px 0;
}

.swal2-popup {
    color: white;
    transform: scale(1.7);
}
.swal2-popup .swal2-content {
    color: #dcdcdc;
}
.swal2-icon.swal2-success {
    border-color: #5cff00;
}
.swal2-popup .swal2-title {
    color: #1aa51a;
}

/* TOP SECTION */

.bannerText h2 {
    font-size: 7vw;
    font-weight: 100;
    position: absolute;
    color: rgb(0, 195, 255);
    margin-top: 3px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.35vw;
}
.bannerText span {
    position: absolute;
    left: 0px;
    text-transform: none;
}
.ti-cursor {
    margin-left: -1.2vw;
    display: block;
}

.bannerText {
    outline: none;
    text-decoration: none;
    font-size: 9vw;
    color: rgb(233, 233, 233);
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 11vw;
}
.bannerText em {
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    background: -webkit-gradient(linear,left top, right top,from(#00c3ff),to(#706cf5));
    background: -webkit-linear-gradient(left,#00c3ff,#706cf5);
    background: -o-linear-gradient(left,#00c3ff,#706cf5);
    background: linear-gradient(90deg,#00c3ff,#706cf5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bannerText #designer {
    font-family: 'Pacifico', sans-serif;
    letter-spacing: normal;
    font-size: 8vw;
    margin-right: 0;
    margin-bottom: -5px;
}

.bannerText #developer {
    font-family: monospace;
    font-size: 7.5vw;
    letter-spacing: -0.2vw
}
.bannerText #uxui {
    font-family: 'Zilla Slab Highlight', sans-serif;
    letter-spacing: normal;
}

.title {
    font-size: 9vw;
    font-family: 'Oxygen', sans-serif;
    padding-top: -20vw;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.7vw;
}
#noitalics {
    font-style: normal;
}

.title,
.bannerText h2 {
    margin-left: 4vw;
    z-index: 10;
}

/* 404 Styles */

.not-found {
    text-align: center;
}
.bannerText.not-found {
    padding-bottom: 0;
}

.not-found h4 {
    font-size: 5vw;
    margin: 0;
}

.not-found a {
    font-size: 3.5vw;
    text-decoration: none;
    color: rgb(223, 223, 223);
    margin: 3% 0;
    background-color: #171b23;
    padding: 1.5% 2.9%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65); */
    display: inline-block;
    transition: 300ms ease all;
    border-radius: 5px;
}

.success h4 b {
    color: #69e569;
    font-weight: normal;
}
.success h4 {
    font-size: 50% !important;
}
.success a {
    font-size: 40%;
}


.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.outer-container {
    max-width: 2100px;
    margin: auto;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    max-width: 70%;
    padding: 0 0 60px 0;
    padding-top: 20px;
}

.container::before {
    display: block;
    content: "";
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 22.75%;
}

.container::after {
    display: block;
    content: "";
    width: 22.75%;
}

.main-transition {
    -webkit-transition: height 1ms linear, -webkit-transform .35s ease-in-out;
    transition: height 1ms linear, -webkit-transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out, height 1ms linear;
    transition: transform .35s ease-in-out, height 1ms linear;
    transition: transform .35s ease-in-out, height 1ms linear, -webkit-transform .35s ease-in-out;
}

.main-enter,
.main-leave {
    height: 0;
    -webkit-transform: translateY(180px);
    -ms-transform: translateY(180px);
    transform: translateY(180px);
}

.respond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 20px 0 20px 0;
    position: relative;
}

.child {
    width: 65%;
    vertical-align: bottom;
    position: relative;
}

.img-respond {
    position: relative;
    width: 30%;
}

.img-respond img {
    width: 80%;
    max-width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: .3s transform;
    -o-transition: .3s transform;
    transition: .3s transform;
    -webkit-box-shadow: 0px 3px 15px #000000;
            box-shadow: 0px 3px 15px #000000;
}
/*
.img-respond img:hover {
    
    -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
            transform: scale(1.025); 
    box-shadow: 0px 3px 15px #161616;
} */

.childtwo {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 40%;
}
@media screen and (min-width: 2500px) {
    .contactinfo {
        -webkit-transform: translateX(-12vw);
            -ms-transform: translateX(-12vw);
                transform: translateX(-12vw);
    }
}
@media screen and (min-width: 1900px) {
    .banner-container {
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 1450px; 
        margin-bottom: 9rem;
    }
    .title, .bannerText h2 {
        margin-left: 0;
        padding-left: 155px;
    }
    .title {
        font-size: 160px;
        letter-spacing: -9px;
    }
    .topnav a {
        font-size: 24px;
    }
    .bannerText h2 {
        font-size: 100px;
        letter-spacing: -3px;
        padding-top: 5px;
    }
    .bannerText #designer {
        font-size: 115px;
        margin-right: -5px;
        letter-spacing: normal;
    }
    .bannerText #developer {
        font-size: 115px;
        letter-spacing: -6px;
    }
    .ti-cursor {
        margin-left: -15px;
    }
}

@media screen and (min-width: 1400px) {
    .not-found a:hover {
        transform: scale(1.015);
    }
    .captcha {
        float: left;
    }
}
@media screen and (max-width: 1399px) {
    .not-found a:hover {
        transform: scale(1.04);
    }
    .captcha {
        float: right;
    }
}

@media screen and (max-width: 1200px) {
    .title::before {
        top: 50%;
        margin-top: -14px;
        height: 25px;
    }
    .tooltip:hover span {
        -webkit-transform: translate3d(0, -2vh, 0);
        transform: translate3d(0, -2vh, 0);
    }
    .child {
        width: 60%;
    }
    .contactinfo {
        margin-right: 0;
        padding-right: 0;
    }
    .container {
        max-width: 80%;
    }
    .title {
        font-size: 10.5vw;
    }
    .bio {
        padding: 90px 10% 90px 10%;
    }
    .contact .email a {
        font-size: 16pt;
    }
    .card-bottom {
        font-size: 15px;
        line-height: 28px;
    }
    .contact .email li a {
        -webkit-clip-path: polygon(0 0, 40% 0, 52% 100%, 0% 100%);
                clip-path: polygon(0 0, 40% 0, 52% 100%, 0% 100%);
    }
    .contact .email > li:nth-child(1) > a:nth-child(1) {
        margin-left: 0vw;
    }
    .contact .email > li:nth-child(2) > a:nth-child(1) {
        margin-left: 2.5vw;
    }
    .contact .email > li:nth-child(3) > a:nth-child(1) {
        margin-left: 5vw;
    }
    .contact .email > li:nth-child(4) > a:nth-child(1) {
        margin-left: 9.5vw;
    }
    .contact .email > li:nth-child(5) > a:nth-child(1) {
        -webkit-clip-path: polygon(0 0, 52% 0, 64% 100%, 0% 100%);
                clip-path: polygon(0 0, 52% 0, 64% 100%, 0% 100%);
        margin-left: 14vw;
    }
    .contact .email > li:nth-child(5) > a:nth-child(1).nopointer {
        margin-left: 10vw;
    }
}

@media screen and (min-width: 921px) {
    .projectTitle:hover {
        opacity: 0;
    }
}

@media screen and (max-width: 920px) {
    .contactinfo {
        margin-top: 4%;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .card-bottom-header {
        font-size: 28px;
        margin: 10px 0 -10px 0;
    }
    .card-bottom button {
        padding: 5px 10px 5px 10px;
        font-size: 1.7rem;
    }
    .card-bottom {
        font-size: 16pt;
        line-height: 1.6em;
        opacity: 1;
        bottom: 200px;
        top: 100%;
        height: 150px;
        background: rgb(29, 29, 29);
        font-size: 12pt;
        padding: 20px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
    }
    .github button {
        left: 20px;
    }
    .card-bottom button {
        bottom: 20px;
    }
    .livedemo button {
        right: 20px;
    }
    .card {
        margin-bottom: 185px;
    }
    .contact .email a {
        font-size: 12pt;
    }
    .contact .email li a {
        -webkit-clip-path: polygon(0 0, 48% 0, 62% 100%, 0% 100%);
                clip-path: polygon(0 0, 48% 0, 62% 100%, 0% 100%);
    }
    .contact .email > li:nth-child(5) > a:nth-child(1) {
        -webkit-clip-path: polygon(0 0, 73% 0, 79% 100%, 0% 100%);
                clip-path: polygon(0 0, 73% 0, 79% 100%, 0% 100%);
    }
    .contact .email > li:nth-child(5) > a:nth-child(1).nopointer {
        margin-left: 8vw;
    }
}
@media screen and (min-width: 770px) {
    .form {
        padding-top: 6%;
    }
}
@media screen and (max-width: 769px) {
    .textfield-input {
        font-size: 2.3vw;
    }
    .tooltip:hover span {
        -webkit-transform: translate3d(0, -1.7vh, 0);
        transform: translate3d(0, -1.7vh, 0);
    }
    .topnav {
        margin-right: 20px;
    }
    .top {
        background-image: none;
    }
    .contactinfo {
        width: 100%;
        padding: 0 0 0 0;
        margin-top: -20px;
        display: table;
    }
    .icons a {
        font-size: 15pt;
        margin: 25px 3.4vw 0 3.4vw;
        width: 19vw;
    }
    .icons s {
        font-size: 2.5vw;
    }
    .icons {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .email {
        margin-top: 50px;
        margin-bottom: -10px;
        padding-right: 0px;
        margin-right: 0;
        text-align: center;
    }
    .contact .email a {
        font-size: 18pt;
    }
    .button-center {
        text-align: center;
    }
    .contactsection {
        margin: 20px 10% 0 10%;
        padding: 0;
    }
    .form {
        width: 100%;
    }
    .bio {
        padding: 90px 5% 90px 5%;
    }
    .image-respond img {
        max-width: 250px;
    }
    .contact ul.email {
        columns: 2;
    }
    .contact .email > li:nth-child(1) > a:nth-child(1) {
        margin-left: 0;
        padding-left: 25px;
    }
    .contact .email > li:nth-child(2) > a:nth-child(1) {
        margin-left: 0;
        padding-left: 25px;
    }
    .contact .email > li:nth-child(3) > a:nth-child(1) {
        margin-left: 0;
        padding-left: 25px;
    }
    .contact .email > li:nth-child(4) > a:nth-child(1) {
        margin-left: 0;
        margin-top: 45px;
    }
    .contact .email > li:nth-child(5) > a:nth-child(1) {
        margin-left: 0;
        -webkit-clip-path: none;
                clip-path: none;
    }
    .contact .email > li:nth-child(5) > a:nth-child(1).nopointer {
        margin-left: 0;
        font-size: 16px;
        line-height: 30px;
    }
    .contact .email li a {
        -webkit-clip-path: none;
                clip-path: none;
        text-align: center;
        padding: 10px 0;
    }
    .contact::before, .contact::after {
        z-index: -2;
    }
    .contact {
        padding-bottom: 30px;
    }
    .topnav-btn {
        font-size: 14px;
        padding: 1.5px 18px;
        margin-top: 10px;
    }
    .email {
        margin-top: 30px;
    }
}
@media screen and (max-width: 650px) {
    .card-bottom {
        height: 200px;
    }
    .card {
        margin-bottom: 225px;
    }
}
@media screen and (max-width: 550px) {
    .card {
        width: 100%;
    }
    .respond {
        width: 100%;
    }
    .img-respond {
        text-align: center;
        width: 100%;
    }
    .img-respond img {
        width: 60%;
        position: relative;
        text-align: center;
    }
    .child {
        width: 100%;
        padding: 0 5% 0 5%;
    }
    .bio {
        padding-bottom: 25px;
        padding-top: 65px;
    }
    .bio p {
        width: 100%;
        font-size: 16px;
    }
    .title::before {
        top: 50%;
        margin-top: -5px;
        height: 8px;
    }
    .tooltip:hover span {
        -webkit-transform: translate3d(0, -2vh, 0);
        transform: translate3d(0, -2vh, 0);
    }
    .bannerText h2 {
        font-size: 8vw;
        margin-top: 1vw;
    }
    .learn a {
        font-size: .75em;
    }
    /*
      .top {
          -webkit-clip-path: polygon(0 0, 100% 4%, 100% 95%, 0 100%);
                  clip-path: polygon(0 0, 100% 4%, 100% 95%, 0 100%);
      }
      .bio-background {
          -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 96%);
                  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 96%);
      }
      .project {
          -webkit-clip-path: polygon(0 0, 100% 4%, 100% 97%, 0 99%);
                  clip-path: polygon(0 0, 100% 4%, 100% 97%, 0 99%);
      }
      */
    .form {
        width: 100%;
        margin-top: 20px;
    }
    .topnav a {
        font-size: 1.75rem;
        margin-top: 0px;
    }
    .topnav {
        right: 0px;
    }
    .logo-img {
        height: 45px;
        top: 6vw;
    }
    .card-bottom {
        font-size: .94em;
        line-height: 1.5em;
    }
    .card-bottom-header {
        font-size: 20px;
        margin: 10px 0 -10px 0;
    }
    .contactspan {
        width: 100%;
        text-align: center;
    }
    .email {
        line-height: 0.7em;
    }
    .contact .email a {
        font-size: 14pt;
        text-align: center;
    }
    .icons s {
        font-size: 12pt;
    }
    .title,
    .bannerText h2 {
        margin-left: 7vw;
    }
    .logo-img {
        left: 7vw;
    }
    .projectTitle {
        font-size: 2.1rem;
    }
    .bio span {
        padding-bottom: 50px;
    }
    .contact span,
    .bio span,
    .projects span {
        font-size: 4.5rem;
    }
    .bar:before,
    .bar:after {
        bottom: 12px;
        -o-transition: 0.8s ease all;
        transition: 0.8s ease all;
        -moz-transition: 0.8s ease all;
        -webkit-transition: 0.8s ease all;
    }
    .not-found h4 {
        font-size: 8vw;
        margin-bottom: 15px;
    }
    .not-found a {
        font-size: 7vw;
        padding: 12px 24px;
    }
    .not-found a:hover {
        transition: none;
        transform: none;
    }
}
@media screen and (max-width: 400px) {
    .card {
        margin-bottom: 235px;
    }
    .card-bottom {
        height: 210px;
    }
}
@media screen and (max-width: 340px) {
    .topnav a {
        font-size: 1.55rem;
    }
    .child {
        font-size: 1rem;
    }
    .bio p {
        font-size: 1.35rem;
    }
    .contact span,
    .bio span,
    .projects span {
        font-size: 4rem;
    }
    .icons s {
        font-size: 5vw;
    }
    .contact .email li a {
        font-size: 16px;
    }
    .contact .email > li:nth-child(5) > a:nth-child(1).nopointer {
        font-size: 13px;
    }
}

@media screen and (max-width: 290px) {
    .topnav a {
        font-size: 1.35rem;
        padding-left: 0;
    }
    .logo-img {
        height: 50px;
        margin-top: 35px;
    }
}