@import "scss/scss";

*, :before, :after {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: $background;
    color: rgb(71, 71, 71);
    line-height: 1.6;
}

header {
    padding-top: 2rem;
    background: $primary;
}

section {
    padding: 5rem 0;
    &:first-of-type {
        margin-top: -12rem;
    }
    &:nth-of-type(3) {
        padding-bottom: 12rem;
    }
}

header {
    color: white;
    padding: 10rem 0 15rem 0;
}

.hero-text {
    line-height: 1.2;
    span{
        display: block;
    }
    span:first-of-type {
        font-size: 5rem;
        font-weight: normal;
        letter-spacing: -0.25rem;
        transform: translateX(-0.25rem);
        @include until(sm){
            font-size: 3.5rem;
            letter-spacing: -0.15rem;
        }
    }
    span:nth-of-type(2) {
        font-weight: 200;
        letter-spacing: -0.075rem;
        @include until(sm){
            font-size: 1.6rem;
        }
    }
}

.portrait {
    width: 100%;
    max-width: 15rem;
    border-radius: 50%;
    box-shadow: $box-shadow;
}

ul {
    list-style: none;
}
header .topnav {
   @include until(sm){
       margin-top: 2rem;
   }
}
.topnav-btn {
    &:first-of-type {
        margin-right: 1rem;
    }
}

.logo-img {
    position: absolute;
    top: 4.3vw;
    left: 4.7vw;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    height: 55px;
}

// .learn {
//     bottom: 5px;
//     position: absolute;
//     text-align: center;
//     line-height: 3rem;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
//     z-index: 1;
// }

// .learn b {
//     color: rgb(84, 166, 194);
//     -webkit-transition: all .35s ease-in-out;
//     -o-transition: all .35s ease-in-out;
//     transition: all .35s ease-in-out;
// }

// .learn a {
//     text-decoration: none;
//     font-weight: 400;
//     color: rgb(175, 175, 175);
//     -webkit-transition: all .35s ease-in-out;
//     -o-transition: all .35s ease-in-out;
//     transition: all .35s ease-in-out;
// }

// .learn a:hover {
//     color: rgb(255, 255, 255);
// }
// /*
// .hover-underline a {
//     display: inline-block;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px transparent;
//     position: relative;
//     overflow: hidden;
// }

// .hover-underline a:before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     left: 50%;
//     right: 50%;
//     bottom: 13px;
//     background: rgb(0, 195, 255);
//     /*background: linear-gradient(90deg,#706cf5, rgb(0, 195, 255));*/
//    /* height: 1px;
//     -webkit-transition-property: left, right;
//     transition-property: left, right;
//     -webkit-transition-duration: 0.3s;
//     transition-duration: 0.3s;
//     -webkit-transition-timing-function: ease-out;
//     transition-timing-function: ease-out;
// }

// .hover-underline a:hover:before,
// .hover-underline a:focus:before,
// .hover-underline a:active:before {
//     left: 20px;
//     right: 18px;
// }
// */

// .topnav li {
//     display: inline-block;
//     &:first-of-type {
//         padding-right: 1rem;
//     }
// }

/* ABOUT ME SECTION */

.about {
    position: relative;
    li {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
        list-style: circle;
    }
    h2 {
        font-size: 2rem;
    }
    border-color: mix($background, $dark, 94%);
    border-width: 0.0625rem 0 0.0625rem 0;
    border-style: solid;
}
.row {
    @include until(md) {
        margin: 0 1rem;
    }
}

.skills {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    background: $white;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    &__column {
        padding: 3rem;
        @include at-least(md) {
            &:not(:last-of-type){
                border-right: 0.0625rem solid mix($background, $dark, 94%);
            }
        }
        @include until(md){
            padding: 2rem 1rem;
            &:last-of-type{
                border-top: 0.0625rem solid mix($background, $dark, 94%);
            }
        }
    }
    &__header {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
    }
    &__subheader{
        font-weight: 400;
        color: $primary;
        font-size: 1.6rem;
        margin: 3rem 0 0 0;
    }
    &__icon {
        color: $primary;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        min-height: 2.5rem;
    }
    &__description {
        color: mix($dark, $background, 60%);
        font-weight: 300;
        font-size: 1.4rem;
    }
    &__list {
        font-weight: 100;
        font-size: 1.3rem;
        color: mix($dark, $background, 60%);
        margin-top: 0.5rem;
    }
    ul li {
        padding-bottom: 2rem;
    }
}

::-moz-selection {
    background: rgba($primary, 0.2); /* WebKit/Blink Browsers */
}

::selection {
    background: rgba($primary, 0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: rgba($primary, 0.2); /* Gecko Browsers */
}

/*PROJECTS SECTION */

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    @include until(md) {
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        margin: 0 1rem;
    }
    padding-bottom: 2rem;
}

/* CONTACT SECTION */

section:last-of-type {
    color: $white;
    background: $primary;
    padding: 0 0 1rem 0;
    h2 { 
        margin: 0;
        font-size: 2rem;
    }
}
form .row {
    margin-top: 2rem;
    width: 100%;
}
.contact .card  {
    margin-top: -10rem;
}
.icons {
    a {
        padding: 1rem;
        border-radius: 3rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: transparent;
        box-shadow: inset 0 0 0 0.125rem rgba($white, 0.5);
        color: $white;
        transition: .2s ease background, .2s ease color;
        &:visited svg {
            color: $white;
        }
        &:hover, &:focus {
            svg {
                color: $primary;
            }
            background: $white;
        }
    }
    svg {
        display: block;
        text-align: center;
        min-height: 1.25rem;
        width: auto !important;
    }
    li {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 1em;
        }
    }
}

.chat {
    stroke: $white;
    width: 50%;
    height: 50%;
    @include until(sm) {
        display: none;
    }
}

.wave {
    z-index: -1;
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    svg {
        fill: $primary;
        width: 102%;
        margin-left: -1%;
        height: auto;
    }
    svg.flip {
        transform: rotate(180deg);
    }
}
footer {
    background: $primary;
    ul  {
        margin: 0;
    }
    p {
        color: $white;
    }
    .heart {
        width: 1rem;
        height: 1rem;
        margin-bottom: -0.125rem;
        color: $white;
    }
}

.hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


/*
  .tooltip b {
      font-weight: 400;
      letter-spacing: 1px;
      position: absolute;
      color: rgb(219, 219, 219) !important;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
      transition: opacity 0.2s, -webkit-transform 0.4s;
      -o-transition: transform 0.4s, opacity 0.2s;
      transition: transform 0.4s, opacity 0.2s;
      transition: transform 0.4s, opacity 0.2s, -webkit-transform 0.4s;
      font-size: 21%;
      background: -webkit-gradient(linear,  left top, right bottom,  from(#381192),color-stop(50%, #480072),to(#9b00e2));
      background: -webkit-linear-gradient(top left,  #381192 0%,#480072 50%,#9b00e2 100%);
      background: -o-linear-gradient(top left,  #381192 0%,#480072 50%,#9b00e2 100%);
      background: linear-gradient(to bottom right,  #381192 0%,#480072 50%,#9b00e2 100%);
      padding: 10px;
      border-radius: 5px;
      margin-right: -10px;
      -webkit-transform-origin: -10px;
          -ms-transform-origin: -10px;
              transform-origin: -10px;
  }
  
  .tooltip#resume b {
      -webkit-transform: translate3d(0,20px,0);
      transform: translate3d(-10px,22px,0);
  }
  
  .tooltip:hover b {
      opacity: 1;
  }
  
  */


/* CONTACT FORM STYLE */

.form {
    margin-top: -12rem;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: .5s ease all;
}

.captcha {
    transition: .5s ease all;
    @include until(sm) {
        margin-left: -2rem;
        padding-bottom: 1rem;
    }
}

/* form notification popup */

.swal2-popup {
    background: $white !important;
    transition: 300ms ease transform;
    border-radius: 1em !important;
    box-shadow: $box-shadow;
}
// .swal2-popup .swal2-content {
//     color: #dcdcdc !important;
// }
.swal2-icon.swal2-success {
    border-color: $success !important;
}
.swal2-popup .swal2-title {
    color: $success !important;
}
.swal2-icon.swal2-success .swal2-success-fix {
    left: 1.725em !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.3em !important;
    right: .41em !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: $success !important; 
}
.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgba($success, 0.25) !important;
}

/* TOP SECTION */



/* 404 Styles */

.not-found {
    text-align: center;
}
.bannerText.not-found {
    padding-bottom: 0;
}

.not-found h4 {
    font-size: 5vw;
    margin: 0;
}

.not-found a {
    font-size: 3.5vw;
    text-decoration: none;
    color: rgb(223, 223, 223);
    margin: 3% 0;
    background-color: #171b23;
    padding: 1.5% 2.9%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65); */
    display: inline-block;
    transition: 300ms ease all;
    border-radius: 5px;
}

.success h4 b {
    color: #69e569;
    font-weight: normal;
}
.success h4 {
    font-size: 50% !important;
}
.success a {
    font-size: 40%;
}
