@import "scss/cubed";

*,
:before,
:after {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}
h2 {
    font-size: calc(2rem + 1.5vw);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: $background-dark;
    color: $background-dark;
    line-height: 1.6;
}



section {
    padding: calc(11vw + 8rem) 0 8rem 0;
    // @include until(m) {
    //     padding: 12rem 0 8rem 0;
    // }
    position: relative;

    // ux/ui designer section
    &:first-of-type {
        z-index: 9999;

        @include at-least(s) {
            .designer-panels {
                margin-right: 5%;
            }
        }

        color: $black;

        background: $primary;
        position: relative;
    }

    &:nth-of-type(3) {
        h2 {
            color: $black;
        }
    }

    &:nth-of-type(2) {
        background: $background-dark;

        h2 {
            color: $white;
        }

        .sub-header {
            color: $white;

            &:before {
                background-color: $white;
            }
        }
    }

    &:nth-of-type(4) {
        color: $white;
    }
}

header {
    background: $background-dark;
    color: $white;
    padding: 10rem 0 15rem 0;

    @include until(s) {
        padding: 10rem 0 0 0;
    }
}

.sub-header {
    padding-left: 8rem;
    line-height: 3.4rem;
    position: relative;
    font-size: 3rem;

    &:before {
        content: '';
        position: absolute;
        top: 1.8rem;
        left: 0;
        width: 5rem;
        height: 0.5rem;
        background-color: $background-dark;
    }
}

.hero-text {
    line-height: 1.2;

    span {
        display: block;
    }

    span:first-of-type {
        font-size: 8rem;
        font-weight: normal;
        letter-spacing: -0.4rem;

        @include until(s) {
            font-size: 4rem;
            letter-spacing: -0.15rem;
        }
    }

    span:nth-of-type(2) {
        font-weight: 300;
        letter-spacing: -0.1rem;

        @include until(s) {
            font-size: 1.6rem;
        }
    }
}

.portrait {
    max-height: 36rem;

    @include until(s) {
        max-height: 24rem;
        margin: 2rem 0 -2rem 0;
    }
}

ul {
    list-style: none;
}

.topnav-btn {
    &:first-of-type {
        margin-right: 1rem;
        margin-top: 2rem;
    }
}

.logo-img {
    position: absolute;
    top: 4.3vw;
    left: 4.7vw;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    height: 55px;
}

// .learn {
//     bottom: 5px;
//     position: absolute;
//     text-align: center;
//     line-height: 3rem;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
//     z-index: 1;
// }
// .learn b {
//     color: rgb(84, 166, 194);
//     -webkit-transition: all .35s ease-in-out;
//     -o-transition: all .35s ease-in-out;
//     transition: all .35s ease-in-out;
// }
// .learn a {
//     text-decoration: none;
//     font-weight: 400;
//     color: rgb(175, 175, 175);
//     -webkit-transition: all .35s ease-in-out;
//     -o-transition: all .35s ease-in-out;
//     transition: all .35s ease-in-out;
// }
// .learn a:hover {
//     color: rgb(255, 255, 255);
// }
// /*
// .hover-underline a {
//     display: inline-block;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px transparent;
//     position: relative;
//     overflow: hidden;
// }
// .hover-underline a:before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     left: 50%;
//     right: 50%;
//     bottom: 13px;
//     background: rgb(0, 195, 255);
//     /*background: linear-gradient(90deg,#706cf5, rgb(0, 195, 255));*/
//    /* height: 1px;
//     -webkit-transition-property: left, right;
//     transition-property: left, right;
//     -webkit-transition-duration: 0.3s;
//     transition-duration: 0.3s;
//     -webkit-transition-timing-function: ease-out;
//     transition-timing-function: ease-out;
// }
// .hover-underline a:hover:before,
// .hover-underline a:focus:before,
// .hover-underline a:active:before {
//     left: 20px;
//     right: 18px;
// }
// */
// .topnav li {
//     display: inline-block;
//     &:first-of-type {
//         padding-right: 1rem;
//     }
// }

// ABOUT ME SECTION 
.about {
    background: $primary;

    .row svg {
        height: 6rem;
    }

    img {
        box-shadow: none;
    }

    li {
        font-size: 2rem;
        list-style: none;
        padding: 3rem;
        font-weight: 500;

        svg {
            margin-bottom: 2rem;
        }

        border-radius: $border-radius-large;
        border: 0.2rem solid $background-dark;

        @include until(sm) {
            font-size: 1.6rem;
        }
    }
}

.about-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    padding: 0;

    @include until(m) {
        grid-template-columns: 1fr 1fr;
    }

    @include until(s) {
        grid-template-columns: 1fr;
    }

    li {
        align-items: center;
        align-content: center;
    }
}

.row {
    @include until(md) {
        margin: 0 1rem;
    }
}

.skills {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    background: $white;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;

    &__column {
        padding: 3rem;

        @include at-least(m) {
            &:not(:last-of-type) {
                border-right: 0.1rem solid mix($background, $dark, 94%);
            }
        }

        @include until(m) {
            padding: 2rem 1rem;

            &:last-of-type {
                border-top: 0.1rem solid mix($background, $dark, 94%);
            }
        }
    }

    &__header {
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
    }

    &__subheader {
        font-weight: 400;
        color: $primary;
        font-size: 1.6rem;
        margin: 3rem 0 0 0;
    }

    &__icon {
        color: $primary;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        min-height: 2.5rem;
    }

    &__description {
        color: mix($dark, $background, 60%);
        font-weight: 300;
        font-size: 1.4rem;
    }

    &__list {
        font-weight: 300;
        font-size: 1.3rem;
        color: mix($dark, $background, 60%);
        margin-top: 0.5rem;
    }

    ul li {
        padding-bottom: 2rem;
    }

    svg {
        height: 3.4375rem;
    }
}

::-moz-selection {
    background: $background-dark;
    color: $white;
    // WebKit/Blink Browsers 
}

::-moz-selection {
    background: $background-dark;
    color: $white;
    // Gecko Browsers 
}

::selection {
    background: $background-dark;
    color: $white;
    // WebKit/Blink Browsers 
}

// PROJECTS SECTION 
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

    @include until(m) {
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        // margin: 0 1rem;
    }

    padding-bottom: 2rem;

    .card {
        display: grid;
        grid-template-rows: 1fr;
        border: 0.2rem solid $white;
        margin-bottom: 0;

        .card-img {
            grid-row: 1;
        }

        .card-body {
            grid-row: 2;
        }

        box-shadow: none;
        background: transparent;

        .card-title,
        .card-body {
            color: $white;
        }
    }
}

// CONTACT SECTION
section:last-of-type {
    color: $background-dark;
    background: $primary;

    .card {
        color: $black;
    }

    h2 {
        margin: 0;
    }
}

form .row {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.contact {
    .card {
        margin-top: 3rem;
        box-shadow: none;
        border: 0.2rem solid $background-dark;
        background: transparent;

        input,
        textarea {
            background: transparent;
            border-width: 0.2rem;
            border-color: $background-dark;
            font-weight: 600;

            &:focus {
                box-shadow: 0 0 0 0.1rem $background-dark, 0 0.3rem 1rem rgba($background-dark, 0.25);
            }
        }

        ::placeholder {
            color: rgba($background-dark, 0.8);
            font-weight: normal;
        }
    }
}

.icons {
    margin: 5rem 1rem;

    a {
        cursor: pointer;
        background: transparent;
        color: $background-dark;

        p {
            margin: 0;
            font-weight: 500;
            font-size: 2.4rem;

            @include until(s) {
                font-size: 1.6rem;
            }

            transition: .2s ease-in-out color;
        }

        &:visited svg {
            color: $background-dark;
        }

        &:hover {
            svg {
                transform: translateY(-0.6rem);
            }

            p {
                color: mix($background-dark, $background, 80%);
            }
        }


    }

    svg {
        display: inline-block;
        text-align: center;
        height: 3.6rem;
        overflow: visible;
        transition: .2s ease-in-out all;
    }

    li {
        display: inline-block;
        text-align: center;

        &:not(:last-of-type) {
            margin-right: calc(1rem + 5%);
        }
    }
}

//SVG Styles
.chat {
    stroke: $background-dark;
    width: 60%;
    height: 60%;

    @include until(sm) {
        display: none;
    }
}

.stroke-pen-icon {
    fill: $white;
    stroke-width: 2;
    stroke: $primary;
}

.wave {
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: -1rem;

    svg {
        width: 103%;
    }

    &.flip {
        svg {
            transform: rotate(180deg);
        }
    }
    &.reverse {
        svg {
            transform: scaleX(-1);
        }
    }
    &.primary {
        svg {
            fill: $primary;
        }
    }
    &.dark {
        svg {
            fill: $background-dark;
        }
    }
}

.svg-icon {
    height: 1em;
    color: inherit;
    vertical-align: -.125em;
}

footer {
    background: $primary;

    ul {
        margin: 0;
    }

    p {
        color: $background-dark;
    }

    .heart {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: -0.2rem;
        color: $background-dark;
    }
}

.hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/*
  .tooltip b {
      font-weight: 400;
      letter-spacing: 1px;
      position: absolute;
      color: rgb(219, 219, 219) !important;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
      transition: opacity 0.2s, -webkit-transform 0.4s;
      -o-transition: transform 0.4s, opacity 0.2s;
      transition: transform 0.4s, opacity 0.2s;
      transition: transform 0.4s, opacity 0.2s, -webkit-transform 0.4s;
      font-size: 21%;
      background: -webkit-gradient(linear,  left top, right bottom,  from(#381192),color-stop(50%, #480072),to(#9b00e2));
      background: -webkit-linear-gradient(top left,  #381192 0%,#480072 50%,#9b00e2 100%);
      background: -o-linear-gradient(top left,  #381192 0%,#480072 50%,#9b00e2 100%);
      background: linear-gradient(to bottom right,  #381192 0%,#480072 50%,#9b00e2 100%);
      padding: 10px;
      border-radius: 5px;
      margin-right: -10px;
      -webkit-transform-origin: -10px;
          -ms-transform-origin: -10px;
              transform-origin: -10px;
  }
  
  .tooltip#resume b {
      -webkit-transform: translate3d(0,20px,0);
      transform: translate3d(-10px,22px,0);
  }
  
  .tooltip:hover b {
      opacity: 1;
  }
  
  */
/* CONTACT FORM STYLE */
.form {
    margin-top: -12rem;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: .5s ease-in-out all;
}

.captcha {
    transition: .5s ease-in-out all;

    @include until(sm) {
        margin-left: -2rem;
        padding-bottom: 1rem;
    }
}

/* form notification popup */
.swal2-popup {
    background: $white !important;
    transition: 300ms ease transform;
    border-radius: $border-radius-large !important;
    box-shadow: $box-shadow;
}

// .swal2-popup .swal2-content {
//     color: #dcdcdc !important;
// }
.swal2-icon.swal2-success {
    border-color: $success !important;
}

.swal2-popup .swal2-title {
    color: $success !important;
}

.swal2-icon.swal2-success .swal2-success-fix {
    left: 1.725em !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.3em !important;
    right: .41em !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: $success !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgba($success, 0.25) !important;
}


.notfound {
    padding-bottom: 0;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
}

.success h4 b {
    color: #69e569;
    font-weight: normal;
}

.success h4 {
    font-size: 50% !important;
}

.success a {
    font-size: 40%;
}

@keyframes animateFace {
    0% {
        transform: translate(155px, 35px)
    }

    25% {
        transform: translate(150px, 30px)
    }

    50% {
        transform: translate(155px, 35px)
    }

    75% {
        transform: translate(160px, 40px)
    }

    100% {
        transform: translate(155px, 35px)
    }
}

.animateFace {
    animation: animateFace 10s linear infinite;
}

@keyframes animateHoodie {
    0% {
        transform: translate(123px, 106px)
    }

    50% {
        transform: translate(123px, 126px)
    }

    100% {
        transform: translate(123px, 106px)
    }
}

.animateHoodie {
    animation: animateHoodie 10s linear infinite;
}